* {
    font-family: sans-serif, monospace, 'Courier New';
    background-color: rgb(240, 177, 62);
}

.page-title{
    width: 250px;
    height: 55px;
    background-color: rgb(238, 138, 25);
    margin: 20px;
    border-radius: 12px;
    font-size: 35px;
    font-weight: 600;
    padding: 10px;
}
